<!DOCTYPE html>
<html>
<head>
    <title>Boston Price Prediction</title>
    <style>
        label {
            display: inline-block;
            width: 100px;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 200px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            width: 100px;
            margin-bottom: 30px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="login">
        <h1>Boston Price Prediction</h1>

        <!-- Main Input For Recieving Query to Our ML-->
        <form action="{{ url_for('predict')}} " method="post">
            <label for="CRIM">CRIM :</label>
            <input type="text" id="CRIM" name="CRIM" required><br>

            <label for="ZN">ZN :</label>
            <input type="text" id="ZN" name="ZN" required><br>

            <label for="INDUS">INDUS :</label>
            <input type="text" id="INDUS" name="INDUS" required><br>

            <label for="CHAS">CHAS:</label>
            <input type="text" id="CHAS" name="CHAS" required><br>

            <label for="NOX">NOX:</label>
            <input type="text" id="NOX" name="NOX" required><br>

            <label for="RM">RM :</label>
            <input type="text" id="RM" name="RM" required><br>

            <label for="AGE">AGE :</label>
            <input type="text" id="AGE" name="AGE" required><br>

            <label for="DIS">DIS :</label>
            <input type="text" id="DIS" name="DIS" required><br>

            <label for="RAD">RAD :</label>
            <input type="text" id="RAD" name="RAD" required><br>

            <label for="TAX">TAX :</label>
            <input type="text" id="TAX" name="TAX" required><br>

            <label for="PTRATIO">PTRATIO :</label>
            <input type="text" id="PTRATIO" name="PTRATIO" required><br>

            <label for=B>B :</label>
            <input type=text id=B name=B required><br>

            <label for=LSTAT>LSTAT :</label>
            <input type=text id=LSTAT name=LSTAT required><br><br>

            <!-- Submit button -->
            <label for=LSTAT></label>
            <button type=submit>Submit</button>
        </form>
    </div>
    <br>
    <br>

    {{prediction_text}}
</body>
</html>